body {
  background-color: #100e17;
  box-sizing: border-box;
  font-family: "Roboto", "Rubik", sans-serif;
}
* {
  box-sizing: border-box;
}
nav {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #201c29;
  background-color: #100e17;
}

.middleNav {
  display: none;
}

div.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.logo h1 {
  color: white;
  margin-left: 5px;
}

.logo i {
  margin-left: 15px;
}
.logo .fas {
  color: #ff8a00;
}

.mobile-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
  border-left: 1px solid #201c29;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.mobile-search i {
  font-size: 1.5rem;
  transform: rotateY(180deg);
  background: linear-gradient(240deg, #ff8a00, #da1d5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-search-active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 16px;
  top: 60px;
  left: 0;
  z-index: 3;
  background-color: #000;
  transition: 0.2s all;
  transform: translateX(100vw);
}

.mobile-search-active.active {
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 16px;
  top: 60px;
  left: 0;
  z-index: 2;
  background-color: #000; */
  transform: translateX(0px);
}

.mobile-search-active input {
  z-index: 5;
  padding: 5px 30px;
  border: 3px white solid;
  flex-basis: 100%;
  height: 50px;
  background-color: #100e17;
  font-size: 16px;
  border-width: 3px;
  border-style: solid;
  color: gray;
}

.mobile-search-active input:focus {
  color: white;
  border-image: linear-gradient(240deg, #ff8a00, #da1d5e);
  border-image-slice: 1;
}

.mobile-search-active input:focus {
  z-index: 0;
  color: white;
}

.middleNav .big-search {
  display: none;
}

/* .gradient-container {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 16px;
  top: 0;
  left: 0;
  z-index: 3;
  /* background-color: #000; */ /*
}

.gradient-box {
  pointer-events: none;
  height: 50px;
  flex-basis: 100%;
  position: relative;
  padding: 5px 30px;
  background: #000;
  background-clip: padding-box;
  /* !importanté */ /*
  border: solid 3px transparent;
  /* !importanté */ /*
  border-radius: 30px;
}
.gradient-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  /* !importanté */ /*
  border-radius: 30px;
  /* !importanté */ /*
  background: linear-gradient(to right, red, orange);
} */

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
  border-left: 1px solid #201c29;
}

.mobile-menu.active {
  background: linear-gradient(240deg, #ff8a00, #da1d5e);
}

.mobile-menu i {
  font-size: 1.5rem;
  color: white;
}

.mobile-menu-burger {
  transition: 0.2s all;
  position: absolute;
  transform: translateY(calc(100vh - 60px));
  overflow: hidden;
  opacity: 0;
  height: calc(100vh - 60px);
}

.mobile-menu-burger.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateY(60px);
  z-index: 2;
  width: 100%;
  background-color: #100e17;
  transition: 0.5s all;
  color: white;
  opacity: 1;
}

.mobile-menu-burger .icons,
.mobile-menu-burger .links {
  position: absolute;
}

.mobile-menu-burger.active .icons i {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.mobile-menu-burger.active .icons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #201c29;
  flex-basis: 50%;
}

.mobile-menu-burger.active .links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  border-bottom: 1px solid #201c29;
  flex-basis: 50%;
}

.mobile-menu-burger.active .icons div {
  text-align: center;
  flex-basis: 30%;
}

.mobile-menu-burger.active .links div {
  flex-basis: 50%;
  text-align: center;
}
article {
  margin: 100px 20px 20px 20px;
  color: white;
}

article header {
  display: flex;
  flex-wrap: wrap;
}

article header h2 {
  font-weight: 600;
  font-size: 14px;
}

article header time {
  margin-left: 10px;
  color: gray;
  font-size: 14px;
}

article header h1 {
  flex-basis: 100%;
  margin: 10px 0 40px 0;
  font-weight: 600;
  font-size: 2rem;
}

article .author {
  display: flex;
  margin-bottom: 40px;
}

article .author .flex {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

article .author img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  /* border-bottom: #da1d5e 3px solid;
  border-radius: 50%; */
}

article .author .authortext {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  color: white;
}

.authortext p:first-of-type {
  font-weight: normal;
  color: grey;
  margin-bottom: 2px;
}

article .author .authorcomments {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  color: white;
}

.authorcomments p:first-of-type {
  font-weight: normal;
  color: grey;
  margin-bottom: 2px;
}
article .content {
  color: gray;
  line-height: 24px;
  margin-bottom: 40px;
}

article .content strong {
  background: linear-gradient(240deg, #ff8a00, #da1d5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  font-size: 12px;
  color: gray;
  padding: 0.3rem 0.6rem;
  border: 3px solid gray;
  border-radius: 24px;
}

section {
  margin: 100px 20px 20px 20px;
}

.popular h1,
.popular h2 {
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

section h1 {
  font-size: 25.6px;
  font-weight: 700;
}

section h2 {
  font-size: 12.8px;
}

section .popular {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 20vh;
  height: 70vh;
  background: linear-gradient(180deg, #ff8a00, #da1d5e);
  border-radius: 20px;
  margin-right: 50px;
}

.wrapper {
  overflow-x: scroll;
  display: flex;
}

div.wrapper {
  padding-bottom: 10px;
}

section .wrapper .popular-item {
  min-width: 250px;
  height: 70vh;
  background-color: rgb(23, 20, 29);
  padding: 24px;
  margin-right: 10px;
  border-radius: 20px;
}

.popular-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-item h2,
.popular-item h1 {
  display: inline;
}

.popular-item time {
  font-size: 14px;
  color: gray;
}

.popular-item h2 {
  font-size: 14px;
  color: white;
}

.popular-item .popular-top > h1 {
  display: block;
  margin-top: 15px;
  color: white;
}

.popular-item img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  /* border-bottom: #da1d5e 3px solid;
  border-radius: 50%; */
}
.popular-bottom .author {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.popular-bottom .author .authortext {
  margin-left: 15px;
}

.popular-bottom .author .authortext p:last-of-type {
  font-weight: normal;
  color: white;
  margin-bottom: 2px;
}

@media (min-width: 960px) {
  nav {
    height: 100px;
  }

  div.logo {
    flex-grow: 0;
    flex-basis: 20%;
    justify-content: center;
    border-right: 1px solid #201c29;
  }

  .logo i {
    margin: 0;
  }
  .mobile-search {
    flex-basis: 8%;
  }
  .mobile-search-active {
    top: 100px;
  }
  .mobile-menu {
    display: none;
  }
  .middleNav {
    display: flex;
    flex-grow: 1;
    color: white;
  }

  .middleNav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    border-right: 1px solid #201c29;
  }

  .middleNav:hover div i:first-of-type {
    color: yellow;
  }

  .middleNav:hover div:nth-child(2) i {
    color: palevioletred;
  }

  .middleNav:hover div:nth-child(3) i {
    color: orangered;
  }

  .middleNav:hover div:nth-child(4) i {
    color: purple;
  }

  .middleNav:hover div:nth-child(5) i {
    color: lightskyblue;
  }

  .middleNav:hover div:nth-child(6) i {
    color: greenyellow;
  }
  .middleNav div:last-of-type {
    border: none;
  }

  .middleNav div i {
    font-size: 32px;
  }

  .middleNav div p {
    margin-top: 5px;
  }

  article {
    margin-top: 200px;
  }

  /* width */
  html::-webkit-scrollbar {
    width: 30px;
    height: 30px;
  }

  /* Track */
  html::-webkit-scrollbar-track {
    border-left: 1px solid #201c29;

    background: #100e17;
  }

  /* Handle */
  html::-webkit-scrollbar-thumb {
    background: linear-gradient(240deg, #ff8a00, #da1d5e);
    border-radius: 30px;
  }

  /* Handle on hover */
  html::-webkit-scrollbar-thumb:hover {
    /* background: linear-gradient(240deg, #da1d5e, #ff8a00); */
  }

  .wrapper::-webkit-scrollbar {
    margin-top: 10px;
    height: 10px;
    width: 100px;
  }

  .wrapper::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, black, grey);
    border-radius: 10px;
  }

  .wrapper::-webkit-scrollbar-track {
    background: #201c29;
  }
}

@media (min-width: 1250px) {
  .mobile-search-active,
  .mobile-search {
    display: none;
  }

  .middleNav .big-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
  }

  .middleNav .big-search .search {
    position: relative;
    padding: 0;
    transform: translate(0);
    width: auto;
    background-color: transparent;
    flex-basis: 50%;
  }
  .middleNav .big-search .search input {
    border-radius: 30px;
    padding: 5px 30px;
    border: 3px white solid;
    flex-basis: 100%;
    /* height: 50px; */
    background-color: #100e17;
    font-size: 16px;
    border-width: 3px;
    border-style: solid;
    color: gray;
  }
}
